.body_bg {
    background-image: url("https://wallpaperaccess.com/full/13453.jpg");
    background-position: center;
    background-size: cover;
}
#myCanvas {
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}
#head {
	border-radius: 10px;
	width: 300px;
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    color:rgb(238, 23, 58);  
    font-weight:bold;
 }
#c_width,#c_height {
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;	
    width:100px;
    color:aqua;
    font-weight:bold;
}
.h3_tags{
    padding:10px;
    color: pink;
    font-family:Georgia, 'Times New Roman', Times, serif;	
    width:400px;
    height:50px;
    border-radius: 10px;
    font-size:30px;
}